html {
    height: 100%;
}

h3{
    font-size: 30px;
}
  body {
    background: linear-gradient(125deg, rgba(140,23,175,1) 34%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Calibri','arial';
    text-align: center;
    height: 90%;
    background-repeat: no-repeat;
    border-radius: 15px;
    
  }
  .the-price {
    font-size: 30px;
  }
  .up {
    color: green;
  }
  .noChange {
    color: grey;
  }
  .down {
    color: red;
  }
#titlebar {
  color: black;
  text-align: left;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  top: 0;
  right: 0;
  
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
}
.logo{
    height: 50px;
    margin-bottom: -15px;
}
img{
    height: 15px;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  
  
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}
#window-controls #close-button {
  grid-column: 3;
}
.min-button:hover {
    
    opacity: .9;
}